<section class="cart__total">
  <div>Итого к оплате: 999999 ₽</div>
  <form class="form" method="post">
    <input class="action" type="submit" value="оплатить" />
  </form>
</section>
<ul class="coffee__list">
  {{#each items }}
    <li>
      <header class="coffee__name">
        {{name}}
      </header>
      <img height="" width="" src="{{image}}" alt="{{name}}" />
      <footer>
        {{price}} ₽
      </footer>
    </li>
  {{/each}}
</ul>
