{{#each history}}
	<ul class="coffee__list">
		{{#each items}}
			<li>
				<header class="coffee__name">{{name}}</header>
				<img src="{{image}}" alt="{{name}}">
				<footer>{{price}} рублей</footer>
			</li>
		{{/each}}
	</ul>
{{/each}}