<section class="user__hello">Привет, {{user_name}}!</section>
      <form class="form" method="get">
        <label class="label" for="username">
          Зовите меня
          <input id="username" name="username" type="text" value="{{user_name}}" /> !
        </label>
        <input class="action" type="submit" value="Сохранить" />
        
      </form>