
<section class="user__hello">Привет, {{username}}!</section>
<form class="form" method="get">
  <label class="label" for="username">
    Зовите меня
    <input id="username" name="username" type="text" value="{{username}}" />!
  </label>
  <input class="action" type="submit" value="Сохранить"/>
</form>

