<section class="user__hello">Привет, {{name_user}}</section>
<form class="form" method="get">
  <label class="label" for="username">
    Зовите меня
    <input id="username" name="username" type="text" value={{name_user}} /> !
  </label>
  <input class="action" type="submit" value="Сохранить" />
</form>
